@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* CUSTOM CLASSES */
.flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.grid {
    display: grid;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    * {
        font-size: 14px;
    }
}

:root {
    --dark-clr: #2A2D34;
    --dark-clr-ll: #6f72798e;
    --dark-clr-xx: #8197c9de;
    --orange-clr: #F26430;
    --orange-clr-x: #c53400;
    --light-clr: #F2EDEB;
    --light-clr-x: #b1aeac;
    --light-clr-xx: #b1aeac27;
    --blue-clr: #645DD7;
    --blue-clr-x: #3c3886;
    --green-clr: #43C59E;
    --green-clr-x: #00a271;
    --yellow-clr: #ff1;

    --inter: 'Inter', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --mont: 'Montserrat', sans-serif;
}

/* TYPOGRAPHY */

h1 {
    font: normal 500 1.5rem/1rem var(--mont);
    color: var(--light-clr);
}

.ques {
    font: normal 400 1rem/1.5rem var(--poppins);
    text-align: justify;
    letter-spacing: 0.05rem;
    word-spacing: 0.15rem;
}

.number {
    font: normal 200 1rem/1rem var(--inter);
    color: var(--dark-clr);
    border: 0.05rem solid var(--dark-clr);
    aspect-ratio: 1;
    cursor: pointer;
    padding: 1rem;
}

.number:hover {
    transition: 300ms;
    font-weight: 400;
    background: var(--blue-clr);
    border: none;
    color: var(--light-clr);
}

h4,
h6 {
    text-transform: uppercase;
    font: normal 400 1rem/1.2rem var(--mont);
    color: var(--dark-clr);
}

h2 {
    font: normal 400 1.2rem/1rem var(--inter);
    text-transform: uppercase;
}

sub {
    font: italic 600 0.9rem/1rem var(--poppins);
}

.inst-list {
    list-style: square;
}

.inst-list li {
    font: normal 400 0.8rem/1rem var(--mont);
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--blue-clr);
    padding: 0.5rem 1rem;
}

.timer {
    background: var(--light-clr);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font: normal 400 3rem/1rem var(--inter);
    color: var(--dark-clr);
}

/* QUESTION DISPLAY */

main {
    height: 100vh;
    background: var(--light-clr);
}

#ques-display {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.ques-container {
    background-color: var(--light-clr-xx);
    border-color: var(--dark-clr);
    border-radius: 16px;
    padding: 0.5rem 1rem;
    margin: auto;
    width: 90%;
    max-width: 30rem;
    position: relative;
}

.ques-number {
    position: absolute;
    right: 0;
    background: var(--dark-clr);
    font: normal 500 2rem/2rem var(--mont);
    color: var(--light-clr);
    padding: 0.5rem 1rem;
    border-radius: 50%;
    transform: translate(1rem, -1rem);
}

.answer-container {
    margin-top: 4rem;
    gap: 1rem;
}

/* SCORECARD DISPLAY */


#score-display {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    border: 0.15rem solid var(--dark-clr);
    border-radius: 8px;
    padding: 2rem 1rem;
}

.open,
.close {
    display: none;
}


@media screen and (max-width: 660px) {
    #score-display {
        display: none;
        border: none;
    }

    #ques-display {
        position: relative;
    }

    .open,
    .close {
        position: absolute;
        top: 5rem;
    }

    .open {
        display: block;
    }

}


.number-card {
    grid-template-columns: repeat(5, 5fr);
    gap: 1rem;
}

.instruction {
    gap: 0.5rem;
}

.ball {
    padding: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.att {
    background: var(--green-clr-x);
}

.na {
    background: var(--orange-clr-x);
}

.mk {
    background: var(--yellow-clr);
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--blue-clr);
    height: 15vh;
}

/* BUTTONS */

.n-btn,
.y-btn,
.start-btn,
.ctrl-btn,
.close,
.open {
    border: none;
    padding: 1rem 0;
    width: 15%;
    min-width: 8rem;
    text-transform: uppercase;
    font: normal 600 1rem/1rem var(--poppins);
    letter-spacing: 0.15rem;
    cursor: pointer;
    transition: 300ms;
    border-radius: 8px;
}

.start-btn,
.open,
.close {
    width: max-content;
    background-color: var(--blue-clr);
    padding: 0.5rem 1rem;
    color: var(--light-clr);
}

.close {
    background: var(--orange-clr-x);
}

.y-btn:hover,
.start-btn:hover {
    transition: 150ms;
    background: var(--blue-clr-x);
}

.y-btn {
    background: var(--blue-clr);
    color: var(--light-clr);
}

.n-btn {
    border: 0.08rem solid var(--orange-clr);
}

.n-btn:hover {
    transition: 300ms;
    background: var(--light-clr-x);
}

/* .start-btn:hover, */
.open:hover {
    background: var(--light-clr);
    border: 0.08rem solid var(--blue-clr);
    color: var(--blue-clr);
}

.close:hover {
    background: var(--light-clr);
    border: 0.08rem solid var(--orange-clr);
    color: var(--orange-clr-x);
}

.previous-btn {
    background: var(--dark-clr);
    color: var(--light-clr);
}

.previous-btn:hover {
    color: var(--light-clr-x);
}

.mark-btn {
    background: var(--orange-clr);
    color: var(--light-clr);
}

.mark-btn:hover {
    background: var(--orange-clr-x);
}

.clear-btn:hover {
    background: var(--light-clr-x);
}

.next-btn {
    background: var(--green-clr);
    color: var(--light-clr);
}

.next-btn:hover {
    background: var(--green-clr-x);
}

/* answer buttons */
.answer-btn {
    width: 90%;
    max-width: 25rem;
    margin: auto;
    padding: 0.5rem 0;
    font: normal 500 1.5rem/1rem var(--mont);
    color: var(--dark-clr);
    border: 0.05rem solid var(--dark-clr);
    border-radius: 8px;
    cursor: pointer;
    transition: 300ms;
}

.answer-btn:hover {
    background: var(--dark-clr);
    color: var(--light-clr);
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked+label {
    background: var(--dark-clr);
    border: none;
    color: var(--light-clr);
}

.submit {
    background: var(--dark-clr);
    color: var(--orange-clr);
    border-radius: 8px;
}

.submit:hover {
    background: var(--orange-clr);
    color: var(--dark-clr);
}


/* ICONS */
.exit-btn {
    transform: scale(1.5);
    color: var(--light-clr);
    cursor: pointer;
}

/* MODALS */

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-clr);
    border: 0.25rem solid var(--blue-clr);
    border-radius: 16px;
    width: 80%;
    max-width: 30rem;
    padding: 1rem 2rem;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: modalOpen 1s ease-in-out forwards;
}

@keyframes modalOpen {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
    }

}

.end-modal {
    display: none;
}

/* IMAGES */
.flag {
    width: 100%;
    aspect-ratio: 16/9;
    margin: auto;
}

/* JS CLASSES */

.marked,
.attempted,
.skipped,
.clear {
    color: var(--light-clr);
    font-weight: 500;
    border-radius: 50%;
    border: none;
    transform: scale(1.1);
}

.marked {
    background: var(--yellow-clr);
    color: var(--dark-clr);
}

.attempted {
    background: var(--green-clr);
}

.skipped {
    background: var(--orange-clr-x);
}

/* OVERLAY */
.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: var(--dark-clr-ll);
    z-index: 1;
    cursor: no-drop;
}